<div class="card my-5">
  <div class="card-body">
    <table class="styled-table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">NumColegiado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medico of medicos">
          <td>{{medico.nombre}}</td>
          <td>{{medico.apellidos}}</td>
          <td>{{medico.numColegiado}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>